.app {
  display: grid;
  place-items: center;
  min-height: 100dvh;
  background-color: #dadadd;
}
.app__body {
  display: flex;
  background-color: #ededed;
  height: 100dvh;
  width: 100%;

  max-width: 1400px;
  max-height: 720px;
  overflow: auto;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
