body,
html {
  margin: 0;
  padding: 0;
  background-color: #f7f3ef;
}

* {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;

  box-sizing: border-box;
  outline: none;
  margin: 0;
  color: inherit;
  text-decoration: none;
}

.mb-2 {
  margin-block: 1em;
}

.row {
  display: flex;
  gap: 1em;
  max-height: 90%;
}
