body,
html {
  margin: 0;
  padding: 0;
  background-color: #ededed;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;
}

.mb-2 {
  margin-block: 1em;
}
