.relative {
  position: relative;

  .search_result {
    list-style: none;
    background-color: white;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;

    li {
      font-size: 16px;
      padding: 0.5em 1em;
      cursor: pointer;
      border-bottom: 1px solid #ddd;

      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        filter: brightness(80%);
      }
    }
  }
}
