.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-radius: 1px solid #f6f6f6;
}
.sidebarChat:hover {
  background-color: #efefef;
}

.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 300;
}

.sidebarChat__info {
  margin-left: 15px;
}

.sidebarChat__info p,
.sidebarChat__info h2 {
  margin: 0;
}
.sidebarChat__info p {
  color: #333;
  font-size: 0.9em;
  margin-top: 0.6em;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
