.sidebar {
  display: flex;
  flex-direction: column;
  width: 460px;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}
.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar__search {
  padding: 0.4em;
  background-color: #f6f6f6;
  position: relative;
}

.sidebar__search__container {
  display: flex;
  background-color: white;
  gap: 5px;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  overflow: hidden;
}

.sidebar__search__container > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}
.sidebar__search__container > input {
  border: none;
  width: 100%;
  outline: none;
  background: none;
}

.sidebar__search .search_result {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  z-index: 2;
  padding: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  margin: 0;
  left: 0;
  border-radius: 5px;
  list-style: none;
}
.sidebar__search .search_result li {
  padding: 1em;
  transition: 0.3s;
}
.sidebar__search .search_result li:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.sidebar__chats {
  flex: 1;
  overflow: auto;
  background-color: white;
}
