.sidebar {
  border-radius: 10px;
  border: 1px solid #ebe7e3;
  height: 100%;
  display: flex;
  flex: 3;
  overflow: hidden;
  flex-direction: column;

  .sidebar__header h2 {
    padding: 1.3em 1.1em;
    font-weight: 300;
    border-bottom: 1px solid #cfd4e2;
    background-color: white;
  }

  .sidebar__chats {
    flex: 1;
    overflow: auto;
  }
}
